/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #1b1b1b, #0c0b11);
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header */
header {
    background: linear-gradient(90deg, #1b1b1b, #272630);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

#nav-bar ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#nav-bar a:hover {
    background-color: #333;
}

/* Sections */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #1b1b1b;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.text-container {
    max-width: 700px;
    font-weight: bold;
    animation: fade-in-out 3s infinite alternate;
}

#text {
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 10px;
}
/* Fade animation */
@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 15px;
}

.short p {
    font-size: 1.1em;
    color: #ccc;
    margin-top: 10px;
}

.img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(17, 17, 17, 0.1);
    transition: transform 0.3s;
}

.img:hover {
    transform: scale(1.05);
}

/* Portfolio Section */
#portfolio {
    margin-top: 50px;
    padding: 20px 20px;
    background-color: #1b1b1b;
    color: #fff;
    text-align: center;
}

#portfolio h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

/* Portfolio Content (Flex container) */
#portfolio-content {
    display: flex;
    justify-content: space-between;
    gap: 5px;  
    flex-wrap: wrap;  
}

.project {
    background-color: #32313b;
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.project:hover {
    transform: translateY(-5px);
}


.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


.project-summary {
    font-size: 0.9em;
    color: #bbb;
    margin-bottom: 15px;
}


#features ul {
    padding-left: 0;
    list-style-type: none;
}

.features li {
    font-size: 0.9em;
    color: #bbb;
}

.project-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.project-links a {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 0.9em;
}

.project-links a:hover {
    background-color: #0056b3;
}


.project-image {
    width: 100%;
    max-width: 220px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    /* Stack projects vertically on small screens */
    .project {
        width: 100%; /* Take full width on small screens */
    }

    #portfolio h2 {
        font-size: 2em;
    }
}

footer {
    background: #0c0b11;
    padding: 30px 20px;
    color: #fff;
    text-align: center;
}